<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在载入...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="add-prompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">新增店长</div>
    <div class="am-modal-bd">
      输入wxid以新建店长
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-bd">
      <div class="am-form-group am-form-file">
        <label for="doc-form-file">加好友二维码图片</label>
        <div>
          <button type="button" class="am-btn am-btn-default am-btn-sm">
            <i class="am-icon-cloud-upload"></i> 上传图片
          </button>
        </div>
        <input type="file" id="doc-form-file">
        <div id="file-list"></div>
      </div>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>