<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../../assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../../assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../../../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../../assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../../../assets/css/app.css">
    <link rel="stylesheet" href="../../../assets/css/jquery-confirm.min.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

</head>

<body data-type="widgets">
<script src="../../../assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {:$page_header_body}
    <!-- 风格切换 -->
    {:$page_skiner}
    <!-- 侧边导航栏 -->
    {:$page_sidebar}


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">微信通道列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-success" id="add-user-prompt-toggle"><span
                                                    class="am-icon-plus"></span> 新增
                                            </button>

<!--                                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span-->
<!--                                                    class="am-icon-trash-o"></span> 删除-->
<!--                                            </button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="am-form" id="search">
                                <input type="number" name="page" style="display:none" value="{$variable_channel_page_number}">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                            <select data-am-selected="{btnSize: 'sm'}" name="option">
                                                <option value="4">全部</option>
                                                <option value="0">启用</option>
                                                <option value="1">禁用</option>
                                                <option value="2">在线</option>
                                                <option value="3">离线</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                            <input type="text" class="am-form-field" placeholder="wxid/wx昵称/通道id" name="field">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                    type="submit"></button>
                                        </span>
                                    </div>
                                </div>
                            </form>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                    <thead>
                                    <tr>
                                        <th>通道ID</th>
                                        <th>头像</th>
                                        <th>店长ID</th>
                                        <th>
                                            <div class="tpl-table-list-select">
                                                <select data-am-selected="{btnSize: 'xs',btnWidth:'80%'}" id="channel-list-select">
                                                    <option value="4">全部(通道类型)</option>
                                                    <option value="0">微信</option>
                                                    <option value="1">支付宝</option>
                                                    <option value="2">QQ</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th>通道模式</th>
                                        <th>账户id</th>
                                        <th>账户昵称</th>
                                        <th>添加时间</th>
                                        <th>心跳时间</th>
                                        <th>在线状态</th>
                                        <th>启用状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='variable_channel_list' id='channel_list_key'}

                                    {if
                                    (in_array(['id'=>$channel_list_key.software_main_id],$variable_channel_dzarray)
                                    && $channel_list_key.status=='0')}
                                    <tr class="am-success">
                                        {else /}
                                    <tr class="am-warning">
                                        {/if}
                                        <td class="am-text-middle">
                                            {$channel_list_key.id}
                                        </td>
                                        <td class="am-text-middle">
                                            <img src="{$channel_list_key.avatar_address}" class="tpl-table-line-img"
                                                 alt="">
                                        </td>
                                        <td class="am-text-middle">
                                            {$channel_list_key.software_main_id}
                                        </td>
                                        <td class="am-text-middle">
                                            {switch $channel_list_key.type }
                                            {case 0}微信{/case}
                                            {case 1}支付宝{/case}
                                            {case 2}QQ{/case}
                                            {case 3}插件{/case}
                                            {default /}未知
                                            {/switch}
                                        </td>
                                        <td class="am-text-middle">
                                            {switch $channel_list_key.collection_type }
                                            {case 0}店员{/case}
                                            {case 1}云端免挂{/case}
                                            {case 2}移动APP{/case}
                                            {case 3}PC自挂{/case}
                                            {default /}未知
                                            {/switch}
                                        </td>
                                        <td class="am-text-middle">

                                                    <span
                                                            {if (strlen($channel_list_key.software_id)>19)}
                                                            data-am-popover="{content: '{$channel_list_key.software_id}',trigger:'click',theme:'success'}"
                                                        {/if}
                                                    >
                                                        {if (strlen($channel_list_key.software_id)>19)}
                                                            {:substr($channel_list_key.software_id,0,19)}...
                                                        {else /}
                                                            {$channel_list_key.software_id}
                                                        {/if}
                                                        </span>
                                        </td>
                                        <td class="am-text-middle">{$channel_list_key.nickname}</td>
                                        <td class="am-text-middle">{:date("Y-m-d H:i:s",$channel_list_key.addtime)}</td>
                                        <td class="am-text-middle">{:date("Y-m-d H:i:s",$channel_list_key.lasttime)}</td>
                                        <!--                                                am-alert am-alert-warning-->
                                        {if($channel_list_key.lasttime>$variable_channel_now_time-$variable_channel_pay_heartbeat)}
                                        <td class="am-text-middle"><span class="am-alert am-alert-success">
                                                             在线
                                                        </span></td>
                                        {else /}
                                        <td class="am-text-middle"><span class="am-alert am-alert-warning">
                                                             离线
                                                        </span></td>
                                        {/if}

                                        {if ($channel_list_key.status=='0')}
                                        <td class="am-text-middle"><span class="am-alert am-alert-success" onclick="edit_channel('status',{$channel_list_key.id})">
                                                     启用
                                                </span></td>
                                        {else /}
                                        <td class="am-text-middle"><span class="am-alert am-alert-warning" onclick="edit_channel('status',{$channel_list_key.id})">
                                                     禁用
                                                </span></td>
                                        {/if}

                                        <td class="am-text-middle">
                                            <div class="tpl-table-black-operation">
                                                {if ($channel_list_key.collection_type=='0' && $channel_list_key.type=='0')}
                                                <a href="javascript:shop_assistant_qr_code({$channel_list_key.id});">
                                                    <i class="am-icon-pencil"></i> 更新
                                                </a>
                                                {/if}
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:edit_channel('delete',{$channel_list_key.id});" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">

                                <div class="am-fr">
                                    <!--                                        <ul class="am-pagination tpl-pagination">-->
                                    <!--                                            <li class="am-disabled"><a href="#">«</a></li>-->
                                    <!--                                            <li class="am-active"><a href="#">1</a></li>-->
                                    <!--                                            <li><a href="#">2</a></li>-->
                                    <!--                                            <li><a href="#">3</a></li>-->
                                    <!--                                            <li><a href="#">4</a></li>-->
                                    <!--                                            <li><a href="#">5</a></li>-->
                                    <!--                                            <li><a href="#">»</a></li>-->
                                    <!--                                        </ul>-->
                                    {$variable_channel_page|raw}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{:$page_modal}

<script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>

<script src="../../../assets/js/jquery-confirm.min.js"></script>

<script src="../../../assets/js/app.js"></script>
<script>
    // 函数
    function edit_channel(type,id){
        $.confirm({
            title: '询问!',
            content: '确认此操作吗？',
            type: 'orange',
            typeAnimated: true,
            buttons: {
                tryAgain: {
                    text: '确认',
                    btnClass: 'btn-orange',
                    action: function(){
                        $.ajax({
                            type : 'POST',
                            url : '../ajax/edit_channel',
                            data:{id:id,type:type},
                            dataType : 'json',
                            success : function(data) {
                                if(data.code === 200){
                                    $.confirm({
                                        title: '成功!',
                                        content: "操作成功",
                                        type: 'green',
                                        typeAnimated: true,
                                        buttons: {
                                            tryAgain: {
                                                text: '确定',
                                                btnClass: 'btn-green',
                                                action: function(){
                                                    // 刷新
                                                    window.location.reload()
                                                }
                                            }
                                        }
                                    });
                                }else{
                                    $.alert({
                                        title: '错误!',
                                        content: data.msg,
                                    });
                                }
                            }
                        });
                    }
                },
                close: {
                    text:"取消",
                    action: function () {
                    }
                }
            }
        });

    }

    function shop_assistant_qr_code(id){
        $.ajax({
            type : 'POST',
            url : '../ajax/add_channel',
            data:{
                type:"shop_assistant_qr_code",
                id:id
            },
            dataType : 'json',
            success : function(data) {
                if(data.code === 200){
                    $('#doc-qrcode').empty().qrcode(data.data.qrcode);
                    $('#doc-nickname').html(data.data.nickname);
                    $('#shop_assistant_qr_code').modal();
                }else{

                    $.alert({
                        title: '错误!',
                        content: data.msg,
                    });
                }
            }
        });
    }
    $(function() {
        // 渲染页面

        var Request = {};
        Request = GetRequest();
        var option = Request['option'];
        if (option!==undefined){
            $("select[name='option']").val(option)
            // 触发渲染select
            $("select[name='option']").trigger('changed.selected.amui');


        }

        $('#add-user-prompt-toggle').click(function () {
            $.confirm({
                title:"新增通道",
                boxWidth:"40%",
                content:`{:$page_channel_model}`,
                buttons:{
                    ok:{
                        text:"提交",
                        action:function (index){
                            var channel_type = this.$content.find('#channel-type').val();
                            var nickname = this.$content.find('#nickname').val();
                            var collection_type = this.$content.find('#channel-sun-type-wx').val();
                            var channel_sun_dz = this.$content.find('#channel-sun-dz').val();
                            switch (channel_type) {
                                case "wxpay":
                                    channel_type = "wx";
                                    break;
                                default:
                                    $.alert({
                                        content:"暂不支持"
                                    })
                                    return false
                            }
                            if (nickname===""){
                                $.alert({
                                    content:"昵称/店铺名称不能为空"
                                })
                                return false
                            }
                            if (channel_sun_dz===""){
                                $.alert({
                                    content:"现在无可用店员"
                                })
                                return false
                            }
                            $.ajax({
                                type : 'POST',
                                url : '../ajax/add_channel',
                                data:{
                                    type:channel_type,
                                    collection_type:collection_type,
                                    nickname:nickname,
                                    dzid:channel_sun_dz
                                },
                                dataType : 'json',
                                success : function(data) {
                                    if(data.code === 200){
                                        $.confirm({
                                            title: '成功!',
                                            content: "成功添加",
                                            type: 'green',
                                            typeAnimated: true,
                                            buttons: {
                                                tryAgain: {
                                                    text: '确定',
                                                    btnClass: 'btn-green',
                                                    action: function(){
                                                        // 刷新
                                                        this.close()
                                                        window.location.reload()
                                                    }
                                                }
                                            }
                                        });
                                    }else{
                                        if (data.code===203){ // 收款二维码错误
                                            $("#doc-form-file").val(null);
                                            $('#file-list').html("");
                                        }

                                        $.alert({
                                            title: '错误!',
                                            content: data.msg,
                                        });
                                    }
                                }
                            });
                            return false
                        }
                    },
                    cancel:{
                        text:"取消"
                    }
                },
                onOpen:function () {
                    $("#channel-type").on("change", function () {
                        // 通道类型选择
                        switch ($(this).val()){
                            case "wxpay":
                                $("#page-wxpay").show();
                                break;
                            default:
                                $(this).val("wxpay")
                                $("#page-wxpay").show();
                                $.alert({
                                    title:"提示",
                                    content:"敬请期待"
                                })
                        }
                    });

                    $("#channel-sun-type-wx").on("change", function () {
                        // 微信通道模式选择
                        switch ($(this).val()){
                            case "0":
                                $("#nickname_label").html("微信昵称/店铺名称");
                                $("#wx-software").show();
                                $("#wx-dy").show();
                                $("#wx-mian").hide();

                                break;
                            case "3":
                                $("#nickname_label").html("填写wxid");
                                $("#wx-dy").hide();
                                break;
                            default:
                                $.alert({
                                    title:"提示",
                                    content:"敬请期待"
                                })
                                $(this).val("0")
                            // $("#wx-software").hide();
                            // $("#wx-mian").show();

                        }
                    });
                    $('#doc-form-file').on('change', function() {
                        // 文件上传
                        var fileNames = '';
                        $.each(this.files, function() {
                            fileNames += '<span class="am-badge">' + this.name + '</span> ';
                        });
                        $('#file-list').html(fileNames);
                        var submit = new FormData()
                        var files = $('#doc-form-file')[0].files
                        if(files.length <= 0) {
                            return false
                        }
                        submit.append('image',files[0])
                        submit.append('type',"image_update")
                        $.ajax({
                            method: 'post',
                            url: '../ajax/add_channel',
                            //表单数据
                            data: submit,
                            processData: false,
                            contentType: false,
                            success:function (res){
                                if (res.code===200){
                                    console.log("success")
                                } else {
                                    $("#doc-form-file").val(null);
                                    $('#file-list').html("");
                                    $.confirm({
                                        useBootstrap: false,
                                        boxWidth: "20%",
                                        title: '错误!',
                                        content: res.msg,
                                        type: 'red',
                                        typeAnimated: true,
                                        buttons: {
                                            tryAgain: {
                                                text: '确定',
                                                btnClass: 'btn-red',
                                                action: function(){
                                                }
                                            }
                                        }
                                    });
                                }
                            }
                        })
                    });
                }
            })
        });


        $("#channel-list-select").on("change", function () {
            $("#channel-list-select").val(4)
            // 触发渲染select
            // $("#channel-list-select").trigger('changed.selected.amui');
            $.alert({
                title:"提示",
                content:"敬请期待"
            })
        });
        // $('#search').submit(function (e) {
        //     e.preventDefault();
        //     var Request = {};
        //     Request = GetRequest();
        //     Request = jsontoQuery([Request])
        // })
    });
</script>
</body>

</html>