<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="9999" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在载入...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="shop_assistant_qr_code">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">更 新 通 道</div>
    <div class="am-modal-bd">
      当前你所绑定的店员昵称为：<div id="doc-nickname"></div>加好友二维码信息如下：
      <div id="doc-qrcode" class="am-text-center"></div>
    </div>
    <div class="am-modal-hd">扫描以上二维码添加好友并添加为店员即可</div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>关闭窗口</span>
    </div>
  </div>
</div>
